flask>=1.0.2
flask-sqlalchemy>=2.3.2
psycopg2-binary==2.7.7
sqlalchemy>=1.1.14
sqlalchemy-utils>=0.33.6
gunicorn>=19.7.1
flask-restplus>=0.12.1
flake8>=3.7
black>=18.9b0
pylint>=2.2
pytest>=4.4.0
pytest-cov>=2.6
pytest-mock>=1.10
pytest-flask>=0.14.0
pytest-flask-sqlalchemy>=1.0.2
